absl-py==2.1.0
altgraph==0.17.4
attrs==23.2.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
flatbuffers==24.3.25
fonttools==4.51.0
googleapis-common-protos==1.63.0
grpcio==1.64.0
idna==3.7
jax==0.4.28
jaxlib==0.4.28
kiwisolver==1.4.5
matplotlib==3.9.0
pywin32-ctypes==0.2.2
requests==2.32.0
scipy==1.13.0
six==1.16.0
sounddevice==0.4.6
urllib3==2.2.1
v1==0.12.3
webdriver-manager==4.0.1
